{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        {% if cvs %}
            <div class="d-flex align-items-baseline justify-content-between mb-2">
                <h2 class="text-primary">Mes CV configurés</h2>
                <a href="{% url 'cvNew' %}" class="btn btn-dark"><i class="fas fa-plus"></i></a>
            </div>

            {% for cv in cvs %}
                <div class="bg-light rounded row align-items-center">
                    <div class="col-md-4">
                        <p class="text-muted p-2 mb-0">
                            <i class="fas fa-file-pdf fa-lg"></i>
                        </p>
                    </div>

                    <div class="col-md-4 p-2">
                        <h3 class="text-outline-secondary mb-0">{{ cv.name }}</h3>
                    </div>

                    <div class="col-md-4 d-flex justify-content-end p-2">
                        <button class="btn btn-outline-dark mx-2" title="Générer le fichier">
                            <i class="fas fa-download"></i>
                        </button>

                        <a class="btn btn-outline-dark" href="{% url 'cvTemplateRender' id=cv.id %}" title="Voir le CV">
                            <i class="fa-solid fa-eye"></i>
                        </a>

                        <a class="btn btn-primary mx-2" href="{% url 'cvUpdate' name=cv.name %}" title="modifier la configuration">
                            <i class="fas fa-pen"></i>
                        </a>

                        <button class="btn btn-light mx-2" title="modifier la configuration">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="text-muted text-center">Pas de CV configuré actuellement</h2>
            <p class="text-dark">Pour configurer un CV <a href="{% url 'cvNew' %}">Créer un CV</a></p>
        {% endif %}
    </div>
{% endblock %}