/** variable couleurs */
:root {
    --primary: #d58efb;
    --primary-hover: #f685ff;
    --secondary: #43b6f5;
    --secondary-hover: #86d4ff;
    --success: #36cd87;
    --success-hover: #36cd87;
    --danger: #f77292;
    --info: #51ecf9;
}

/** ------------------- Surcharge bootstrap ----------------- **/

.btn.btn-primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary-hover);
}

.btn.btn-outline-primary {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
    background-color: var(--primary-hover);
    color: #fff;
    border: 1px solid var(--primary-hover);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn.btn-secondary {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background-color: var(--secondary-hover);
    border: 1px solid var(--secondary-hover);
}

.btn.btn-outline-secondary {
    color: var(--success);
    border: 1px solid var(--success);
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:focus {
    color: #fff;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.btn.btn-success {
    background-color: var(--success);
    border: 1px solid var(--success);
}

.btn.btn-success:hover, .btn.btn-success:focus {
    background-color: var(--success-hover);
    border: 1px solid var(--success-hover);
}

.btn.btn-outline-success {
    color: var(--success);
    border: 1px solid var(--success);
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:focus {
    color: #fff;
    background-color: var(--success);
    border: 1px solid var(--success);
}

.bg-success {
    background-color: var(--success) !important;
}

.btn.btn-danger {
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.btn.btn-danger:hover, .btn.btn-danger:focus {
    background-color: var(--danger-hover);
    border: 1px solid var(--danger-hover);
}

.btn.btn-outline-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus {
    color: #fff;
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.bg-danger {
    background-color: var(--danger) !important;
}

.nav-link:hover {
    background-color: #d5d5d5;
}

.alert {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* ------------- decoupe template ---------------*/

body {
    min-height: 95vh;
    display: grid;
    grid-template-areas:
    "header header"
    "main main";
    grid-template-columns: fit-content 3fr;
}

main {
    grid-area: main;
}

body header {
    grid-area: header;
}

/* -------------------- Toolbar -------------------- */

.toolbar {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar li {
  margin-right: 20px;
}

.toolbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.toolbar a:hover {
  color: #ddd;
}
