<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
    <body style="height: 29.7cm;">
        <div class="row" style="height: 100%;">
            <div class="col-4" style="background-color:{{ cv.secondaryColor }}; padding: 1rem; margin: 0;">
                {% for block in blocks %}
                    {% if block.placement == 'left-side' %}
                        <h3>{{ block.name }}</h3>

                        {% if lines|length > 0 %}
                            {% for line in lines %}
                                {% if line.block.id == block.id %}
                                    <div class="row">
                                        {% if line.startAt is not None and line.endAt is not None %}

                                            <div class="col-4">
                                                {% if line.startAt != None %}
                                                    <p class="mb-0">Du: {{line.startAt|date:'d-m-Y'}}</p>
                                                {% endif %}

                                                {% if line.endAt != None %}
                                                    <p class="mb-0">Au : {{line.endAt|date:'d-m-Y'}}</p>
                                                {% endif %}
                                            </div>
                                            {% if line.title != ""  %}

                                                <div class="col-8 ps-2">
                                                    <p><strong>{{line.title}}</strong></p>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="col-12 ps-2">
                                                <p><strong>{{line.title}}</strong></p>
                                            </div>
                                        {% endif %}


                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-8 px-4 pt-4" style="background-color:{{ cv.primaryColor }}; margin: 0;">
                <h1 class="">{{ cv.name }}</h1>
                <p>{{ cv.description }}</p>

                {% for block in blocks %}
                    {% if block.placement == 'right-side' %}
                        <h3>{{ block.name }}</h3>

                        {% if lines|length > 0 %}
                            {% for line in lines %}
                                {% if line.block.id == block.id %}
                                    <div class="row">
                                        {% if line.startAt is not None and line.endAt is not None %}

                                            <div class="col-4">
                                                {% if line.startAt != None %}
                                                    <p class="mb-0">Du: {{line.startAt|date:'d-m-Y'}}</p>
                                                {% endif %}

                                                {% if line.endAt != None %}
                                                    <p class="mb-0">Au : {{line.endAt|date:'d-m-Y'}}</p>
                                                {% endif %}
                                            </div>
                                            {% if line.title != ""  %}

                                                <div class="col-8 ps-2">
                                                    <p><strong>{{line.title}}</strong></p>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="col-12 ps-2">
                                                <p><strong>{{line.title}}</strong></p>
                                            </div>
                                        {% endif %}


                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </body>
</html>